body {
    margin: 0;
    background-color: whitesmoke;
}

#navbar {
    background-color: darkkhaki;
}
#navbar ul{
    list-style-type: none;
    text-decoration: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
#navbar ul li{
    float: left;
}
#navbar ul li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 15px;
}

#navbar ul li a:hover {
    background-color: rgb(124, 121, 69);
}

#addBtn {
    margin: 10px;
    padding: 5px 22px;
    border-style: none;
    background-color: rgb(1, 141, 1);
    color: white;
}

#editBtn {
    padding: 5px 22px;
    margin: 2px;
    border-style: none;
    background-color: orange;
    color: black;
}
#delBtn {
    padding: 5px 22px;
    margin: 2px;
    border-style: none;
    background-color: red;
    color: black;
}
table {
    text-align: center;
}
table th{
    background-color: rgb(174, 168, 98);
}
table tr{
    background-color: rgb(226, 219, 128);
}

form {
    background-color: darkkhaki;
    border-style: solid;
    padding:20px;
    text-align: center;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 20px;
}

form label {
    font-size: large;
    font-weight: bolder;
}
form #saveBtn {
    padding: 16px 32px;
    border-style: none;
    background-color: rgb(1, 209, 1);
    font-weight: bold;
    color: white;
}

form #canBtn {
    padding: 16px 32px;
    border-style: none;
    background-color: rgb(189, 1, 1);
    font-weight: bold;
    color: white;
}